.button{
    padding: 8px 12px;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    outline: none;
}

.button:hover{
    padding: 8px 12px;
    background-color: #e1e1e1;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
}