.md {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    overflow: auto;
}

.edit {
    outline: none;
    font-size: 14px;
}

.edit-container  {
    width: 50%;
    height: 100%;
    padding: 5px 35px 50% 35px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: normal;
    color: #EBD1B7;
    background: #36312c;

}

.preview {
    width: 100%;
    height: 100%;
    padding: 5px 35px 50% 35px;
    overflow: auto;
    background-color: #fff;
}

.divider {
    width: 0px;
    height: 100%;
}