.home {
    text-align: center;
    padding: 30px;

    background-color: white;
}

table {
    max-width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #e1e1e1;
}

td, th {
    padding: 5px 10px;
}